In [19]:
import warnings
warnings.filterwarnings("ignore")

import requests
import numpy as np
import pandas as pd
import geopandas as gpd # GeoPandas library for spatial analytics
from shapely.geometry import shape
from shapely.geometry import shape

from datetime import datetime, timedelta

In [20]:
data = gpd.read_file("../output/film permit_city.shp" )

In [21]:
data_fil=data.drop(columns=['OBJECTID','Join_ID'])
data_fil=data_fil.drop_duplicates().reset_index()

In [22]:
len(data_fil)/len(data)

0.8285567723085844

In [23]:
def range_to_list(a, b):
    return pd.date_range(a, b, freq = 'H')[:-1]
data_fil['StartEnd'] = [[i, j] for i, j in zip( data_fil['StartDateT'], data_fil['EndDateTim'])]
data_fil['TimeList'] = data_fil['StartEnd'].apply(lambda x: range_to_list(x[0], x[1]))
data_fil['hours'] = data_fil['TimeList'].apply(lambda x: list(x.hour))
data_fil['month'] = data_fil['TimeList'].apply(lambda x: list(set(x.month)))
data_fil['date'] = data_fil['TimeList'].apply(lambda x: list(set(x.date)))
data_fil['hour_sum'] = data_fil['hours'].apply(lambda x: len(x))  
data_fil['day_sum']=data_fil['hour_sum']/24

In [24]:
data_fil

,index,EventID,EventType,StartDateT,EndDateTim,EnteredOn,EventAgenc,ParkingHel,Borough,CommunityB,...,ZipCode(s),SegmentID,geometry,StartEnd,TimeList,hours,month,date,hour_sum,day_sum
0,0,628327,Shooting Permit,03/08/2022 07:00:00 AM,03/08/2022 07:00:00 PM,02/28/2022 11:13:50 AM,"Mayor's Office of Film, Theatre & Broadcasting",SUTTON STREET between NORMAN AVENUE and NASSAU...,Brooklyn,1,...,11222,0065898,"LINESTRING (1000675.780 203773.602, 1000590.62...","[03/08/2022 07:00:00 AM, 03/08/2022 07:00:00 PM]","DatetimeIndex(['2022-03-08 07:00:00', '2022-03...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]",[3],[2022-03-08],12,0.500000
1,2,629351,Shooting Permit,03/08/2022 07:00:00 AM,03/08/2022 10:00:00 PM,03/03/2022 02:51:17 PM,"Mayor's Office of Film, Theatre & Broadcasting",COVERT ST between WYCKOFF AVENUE and IRVING AV...,Queens,5,...,"11237, 11385",0048509,"LINESTRING (1010582.250 192025.794, 1010809.74...","[03/08/2022 07:00:00 AM, 03/08/2022 10:00:00 PM]","DatetimeIndex(['2022-03-08 07:00:00', '2022-03...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[3],[2022-03-08],15,0.625000
2,3,629319,Shooting Permit,03/08/2022 07:00:00 AM,03/08/2022 09:00:00 PM,03/03/2022 01:49:15 PM,"Mayor's Office of Film, Theatre & Broadcasting",WHITE STREET between SEIGEL STREET and MOORE S...,Brooklyn,1,...,11206,0044431,"LINESTRING (1002265.974 195997.473, 1002202.52...","[03/08/2022 07:00:00 AM, 03/08/2022 09:00:00 PM]","DatetimeIndex(['2022-03-08 07:00:00', '2022-03...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[3],[2022-03-08],14,0.583333
3,4,629319,Shooting Permit,03/08/2022 07:00:00 AM,03/08/2022 09:00:00 PM,03/03/2022 01:49:15 PM,"Mayor's Office of Film, Theatre & Broadcasting",WHITE STREET between SEIGEL STREET and MOORE S...,Brooklyn,1,...,11206,0044457,"LINESTRING (1002202.526 196249.592, 1002715.21...","[03/08/2022 07:00:00 AM, 03/08/2022 09:00:00 PM]","DatetimeIndex(['2022-03-08 07:00:00', '2022-03...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[3],[2022-03-08],14,0.583333
4,5,629319,Shooting Permit,03/08/2022 07:00:00 AM,03/08/2022 09:00:00 PM,03/03/2022 01:49:15 PM,"Mayor's Office of Film, Theatre & Broadcasting",WHITE STREET between SEIGEL STREET and MOORE S...,Brooklyn,1,...,11206,0044453,"LINESTRING (1002022.559 196965.059, 1002571.01...","[03/08/2022 07:00:00 AM, 03/08/2022 09:00:00 PM]","DatetimeIndex(['2022-03-08 07:00:00', '2022-03...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[3],[2022-03-08],14,0.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37145,44831,623949,Shooting Permit,02/04/2022 08:00:00 AM,02/04/2022 09:30:00 PM,02/01/2022 01:32:18 PM,"Mayor's Office of Film, Theatre & Broadcasting",PEARL STREET between PECK SLIP and BEEKMAN STR...,Manhattan,1,...,"10004, 10005, 10038",0105864,"LINESTRING (982584.908 196291.744, 982718.819 ...","[02/04/2022 08:00:00 AM, 02/04/2022 09:30:00 PM]","DatetimeIndex(['2022-02-04 08:00:00', '2022-02...","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",[2],[2022-02-04],13,0.541667
37146,44832,623949,Shooting Permit,02/04/2022 08:00:00 AM,02/04/2022 09:30:00 PM,02/01/2022 01:32:18 PM,"Mayor's Office of Film, Theatre & Broadcasting",PEARL STREET between PECK SLIP and BEEKMAN STR...,Manhattan,1,...,"10004, 10005, 10038",0023296,"LINESTRING (982183.843 196510.021, 982273.246 ...","[02/04/2022 08:00:00 AM, 02/04/2022 09:30:00 PM]","DatetimeIndex(['2022-02-04 08:00:00', '2022-02...","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",[2],[2022-02-04],13,0.541667
37147,44833,623949,Shooting Permit,02/04/2022 08:00:00 AM,02/04/2022 09:30:00 PM,02/01/2022 01:32:18 PM,"Mayor's Office of Film, Theatre & Broadcasting",PEARL STREET between PECK SLIP and BEEKMAN STR...,Manhattan,1,...,"10004, 10005, 10038",0023304,"LINESTRING (982273.246 196628.042, 982369.951 ...","[02/04/2022 08:00:00 AM, 02/04/2022 09:30:00 PM]","DatetimeIndex(['2022-02-04 08:00:00', '2022-02...","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",[2],[2022-02-04],13,0.541667
37148,44834,623949,Shooting Permit,02/04/2022 08:00:00 AM,02/04/2022 09:30:00 PM,02/01/2022 01:32:18 PM,"Mayor's Office of Film, Theatre & Broadcasting",PEARL STREET between PECK SLIP and BEEKMAN STR...,Manhattan,1,...,"10004, 10005, 10038",0023303,None,"[02/04/2022 08:00:00 AM, 02/04/2022 09:30:00 PM]","DatetimeIndex(['2022-02-04 08:00:00', '2022-02...","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",[2],[2022-02-04],13,0.541667
37149,44835,623949,Shooting Permit,02/04/2022 08:00:00 AM,02/04/2022 09:30:00 PM,02/01/2022 01:32:18 PM,"Mayor's Office of Film, Theatre & Broadcasting",PEARL STREET between PECK SLIP and BEEKMAN STR...,Manhattan,1,...,"10004, 10005, 10038",0023182,"LINESTRING (981806.626 196495.926, 981736.245 ...","[02/04/2022 08:00:00 AM, 02/04/2022 09:30:00 PM]","DatetimeIndex(['2022-02-04 08:00:00', '2022-02...","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",[2],[2022-02-04],13,0.541667

In [25]:
data_fil['StartDateTime'] = data_fil['StartDateT'].apply(pd.to_datetime)

## 2021Time

In [26]:
data_2021 = data_fil[(data_fil['StartDateTime']>='2021-1-1') & (data_fil['StartDateTime']<'2022-1-1')]

In [27]:
data_2021_buffer=data_2021
data_2021_buffer['geometry']= data_2021_buffer.buffer(3,cap_style=2)

In [28]:
ct = gpd.read_file("../vector/2020 Census Tract_NYC" )
ct_sel = ct[['BoroCT2020','NTAName','GEOID','geometry']]

In [29]:
ct_data_2021 = ct_sel.sjoin(data_2021_buffer, how="left")
ct_data_2021=ct_data_2021.dropna().reset_index()

In [30]:
month1 = ct_data_2021.apply(lambda x: pd.Series(x['month']),axis=1).stack().reset_index(level=1, drop=True)
month1.name = 'month'
ct_data_2021 = ct_data_2021.drop('month', axis=1).join(month1)
ct_data_2021['month'] = ct_data_2021['month'].astype(str)
ct_data_2021

,level_0,BoroCT2020,NTAName,GEOID,geometry,index_right,index,EventID,EventType,StartDateT,...,ZipCode(s),SegmentID,StartEnd,TimeList,hours,date,hour_sum,day_sum,StartDateTime,month
0,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",14818.0,17771.0,593260.0,Shooting Permit,07/28/2021 08:00:00 AM,...,"10002, 10012, 10013, 10038",9003304,"[07/28/2021 08:00:00 AM, 07/29/2021 02:00:00 AM]","DatetimeIndex(['2021-07-28 08:00:00', '2021-07...","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...","[2021-07-28, 2021-07-29]",18.0,0.750000,2021-07-28 08:00:00,7.0
1,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",14820.0,17775.0,593260.0,Shooting Permit,07/28/2021 08:00:00 AM,...,"10002, 10012, 10013, 10038",0024527,"[07/28/2021 08:00:00 AM, 07/29/2021 02:00:00 AM]","DatetimeIndex(['2021-07-28 08:00:00', '2021-07...","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...","[2021-07-28, 2021-07-29]",18.0,0.750000,2021-07-28 08:00:00,7.0
2,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",25291.0,30548.0,608299.0,Shooting Permit,10/27/2021 03:00:00 PM,...,10002,9003307,"[10/27/2021 03:00:00 PM, 10/28/2021 01:00:00 AM]","DatetimeIndex(['2021-10-27 15:00:00', '2021-10...","[15, 16, 17, 18, 19, 20, 21, 22, 23, 0]","[2021-10-28, 2021-10-27]",10.0,0.416667,2021-10-27 15:00:00,10.0
3,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",14819.0,17774.0,593260.0,Shooting Permit,07/28/2021 08:00:00 AM,...,"10002, 10012, 10013, 10038",9003316,"[07/28/2021 08:00:00 AM, 07/29/2021 02:00:00 AM]","DatetimeIndex(['2021-07-28 08:00:00', '2021-07...","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...","[2021-07-28, 2021-07-29]",18.0,0.750000,2021-07-28 08:00:00,7.0
4,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",25292.0,30549.0,608299.0,Shooting Permit,10/27/2021 03:00:00 PM,...,10002,0024540,"[10/27/2021 03:00:00 PM, 10/28/2021 01:00:00 AM]","DatetimeIndex(['2021-10-27 15:00:00', '2021-10...","[15, 16, 17, 18, 19, 20, 21, 22, 23, 0]","[2021-10-28, 2021-10-27]",10.0,0.416667,2021-10-27 15:00:00,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53851,2322,5031902,Mariner's Harbor-Arlington-Graniteville,36085031902,"POLYGON ((939747.491 171919.373, 939778.967 17...",1570.0,1823.0,559289.0,Shooting Permit,01/26/2021 07:00:00 AM,...,"10303, 10304",0103541,"[01/26/2021 07:00:00 AM, 01/26/2021 10:00:00 PM]","DatetimeIndex(['2021-01-26 07:00:00', '2021-01...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2021-01-26],15.0,0.625000,2021-01-26 07:00:00,1.0
53852,2322,5031902,Mariner's Harbor-Arlington-Graniteville,36085031902,"POLYGON ((939747.491 171919.373, 939778.967 17...",1569.0,1821.0,559289.0,Shooting Permit,01/26/2021 07:00:00 AM,...,"10303, 10304",0110300,"[01/26/2021 07:00:00 AM, 01/26/2021 10:00:00 PM]","DatetimeIndex(['2021-01-26 07:00:00', '2021-01...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2021-01-26],15.0,0.625000,2021-01-26 07:00:00,1.0
53853,2322,5031902,Mariner's Harbor-Arlington-Graniteville,36085031902,"POLYGON ((939747.491 171919.373, 939778.967 17...",1571.0,1824.0,559289.0,Shooting Permit,01/26/2021 07:00:00 AM,...,"10303, 10304",0005790,"[01/26/2021 07:00:00 AM, 01/26/2021 10:00:00 PM]","DatetimeIndex(['2021-01-26 07:00:00', '2021-01...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2021-01-26],15.0,0.625000,2021-01-26 07:00:00,1.0
53854,2322,5031902,Mariner's Harbor-Arlington-Graniteville,36085031902,"POLYGON ((939747.491 171919.373, 939778.967 17...",1572.0,1825.0,559289.0,Shooting Permit,01/26/2021 07:00:00 AM,...,"10303, 10304",0005786,"[01/26/2021 07:00:00 AM, 01/26/2021 10:00:00 PM]","DatetimeIndex(['2021-01-26 07:00:00', '2021-01...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2021-01-26],15.0,0.625000,2021-01-26 07:00:00,1.0
53855,2322,5031902,Mariner's Harbor-Arlington-Graniteville,36085031902,"POLYGON ((939747.491 171919.373, 939778.967 17...",1573.0,1826.0,559289.0,Shooting Permit,01/26/2021 07:00:00 AM,...,"10303, 10304",0110297,"[01/26/2021 07:00:00 AM, 01/26/2021 10:00:00 PM]","DatetimeIndex(['2021-01-26 07:00:00', '2021-01...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2021-01-26],15.0,0.625000,2021-01-26 07:00:00,1.0

In [31]:
cd = gpd.read_file("../vector/Council Districts/nycc.shp")
cd33 = cd[cd['CounDist']==33]
ct2021_cd33 = gpd.overlay(ct_data_2021, cd33, how='intersection')
ct2021_cd33

,level_0,BoroCT2020,NTAName,GEOID,index_right,index,EventID,EventType,StartDateT,EndDateTim,...,hours,date,hour_sum,day_sum,StartDateTime,month,CounDist,Shape_Leng,Shape_Area,geometry
0,7,1000900,Financial District-Battery Park City,36061000900,14580.0,17460.0,592277.0,Shooting Permit,07/24/2021 06:00:00 AM,07/24/2021 10:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2021-07-24],16.0,0.666667,2021-07-24 06:00:00,7.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
1,7,1000900,Financial District-Battery Park City,36061000900,16874.0,20254.0,595844.0,Shooting Permit,08/10/2021 05:00:00 PM,08/11/2021 07:00:00 AM,...,"[17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6]","[2021-08-11, 2021-08-10]",14.0,0.583333,2021-08-10 17:00:00,8.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
2,7,1000900,Financial District-Battery Park City,36061000900,14903.0,17874.0,593807.0,Shooting Permit,07/29/2021 03:00:00 PM,07/30/2021 04:30:00 AM,...,"[15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3]","[2021-07-30, 2021-07-29]",13.0,0.541667,2021-07-29 15:00:00,7.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
3,7,1000900,Financial District-Battery Park City,36061000900,15237.0,18272.0,594187.0,Shooting Permit,07/30/2021 03:30:00 PM,07/31/2021 06:00:00 AM,...,"[15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, ...","[2021-07-30, 2021-07-31]",14.0,0.583333,2021-07-30 15:30:00,7.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
4,7,1000900,Financial District-Battery Park City,36061000900,14586.0,17468.0,592277.0,Shooting Permit,07/24/2021 06:00:00 AM,07/24/2021 10:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2021-07-24],16.0,0.666667,2021-07-24 06:00:00,7.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10157,1210,3059300,Greenpoint,36047059300,2715.0,3142.0,560913.0,Shooting Permit,02/17/2021 11:00:00 AM,02/18/2021 02:00:00 AM,...,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...","[2021-02-17, 2021-02-18]",15.0,0.625000,2021-02-17 11:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."
10158,1210,3059300,Greenpoint,36047059300,28300.0,34165.0,612598.0,Shooting Permit,11/23/2021 07:00:00 AM,11/23/2021 07:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]",[2021-11-23],12.0,0.500000,2021-11-23 07:00:00,11.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."
10159,1210,3059300,Greenpoint,36047059300,14829.0,17787.0,593672.0,Shooting Permit,07/27/2021 09:00:00 AM,07/28/2021 03:00:00 AM,...,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[2021-07-28, 2021-07-27]",18.0,0.750000,2021-07-27 09:00:00,7.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."
10160,1210,3059300,Greenpoint,36047059300,2712.0,3137.0,560913.0,Shooting Permit,02/17/2021 11:00:00 AM,02/18/2021 02:00:00 AM,...,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...","[2021-02-17, 2021-02-18]",15.0,0.625000,2021-02-17 11:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."
10161,1210,3059300,Greenpoint,36047059300,28298.0,34163.0,612598.0,Shooting Permit,11/23/2021 07:00:00 AM,11/23/2021 07:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]",[2021-11-23],12.0,0.500000,2021-11-23 07:00:00,11.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."

In [32]:
ct_2021_sel=ct2021_cd33[['BoroCT2020','EventID','hour_sum','day_sum','month']]
ct_2021_sel=ct_2021_sel.drop_duplicates()
ct_2021_sel['month']= ct_2021_sel['month'].astype(float).astype(int)
ct_2021_sum = ct_2021_sel[['BoroCT2020','hour_sum','day_sum','month']].groupby(by=['BoroCT2020','month']).sum()
ct_2021_sum = ct_2021_sum.reset_index()
ct_2021_sum.sort_values('day_sum')

    BoroCT2020  month  hour_sum    day_sum
348    3050100      2       1.0   0.041667
359    3051100      2       1.0   0.041667
253    3012700      1       4.0   0.166667
591    3059300      8       5.0   0.208333
576    3058902      8       5.0   0.208333
..         ...    ...       ...        ...
551    3057902      2     879.0  36.625000
564    3058901      3     895.0  37.291667
559    3057902     10     921.0  38.375000
553    3057902      4     968.0  40.333333
552    3057902      3    1289.0  53.708333

[594 rows x 4 columns]

In [33]:
ct_2021_sum[ct_2021_sum['month']=='nan']

Empty DataFrame
Columns: [BoroCT2020, month, hour_sum, day_sum]
Index: []

In [34]:
pivot_time_2021 = ct_2021_sum.pivot_table(index =['BoroCT2020'], values =['day_sum'],columns='month')
pivot_time_2021

              day_sum                                                         \
month              1          2          3          4          5          6
BoroCT2020
1000900           NaN   0.583333   1.916667   1.958333   2.125000        NaN
1001501      1.083333   1.833333   0.333333   1.625000   2.416667   1.708333
1001502      4.750000   6.250000   1.291667   4.208333   7.541667   2.791667
1002400           NaN        NaN        NaN        NaN   0.500000        NaN
1004400           NaN        NaN        NaN        NaN        NaN        NaN
...               ...        ...        ...        ...        ...        ...
3057902     24.666667  36.625000  53.708333  40.333333  29.666667  15.958333
3058901     16.750000  31.708333  37.291667  29.500000  17.416667  10.250000
3058902           NaN   1.291667        NaN   0.750000        NaN        NaN
3059100           NaN   0.625000   0.708333        NaN        NaN   0.416667
3059300           NaN   1.291667        NaN   1.416667        NaN        NaN


month              7          8          9          10         11         12
BoroCT2020
1000900      4.583333   2.291667   1.916667   1.583333   3.916667   1.916667
1001501      7.000000   4.708333   4.416667   6.000000   4.166667   0.500000
1001502     11.041667   6.083333  12.541667  10.708333   3.208333   1.166667
1002400           NaN        NaN        NaN        NaN        NaN        NaN
1004400           NaN        NaN        NaN   0.666667        NaN        NaN
...               ...        ...        ...        ...        ...        ...
3057902     13.125000  36.083333  30.000000  38.375000  34.625000  22.708333
3058901     11.250000  19.500000  19.750000  25.791667  29.875000  17.916667
3058902           NaN   0.208333   1.333333        NaN   2.708333        NaN
3059100      0.750000   1.875000   1.291667   3.166667   3.916667   0.541667
3059300      0.750000   0.208333   1.333333        NaN   1.083333        NaN

[84 rows x 12 columns]

In [35]:
# pivot_time_2021.to_csv('../output/Pivot_permits_cd33_2021_time.csv')

## 2022 Time

In [36]:
data_2022 = data_fil[(data_fil['StartDateTime']>='2022-1-1') ]

In [37]:
data_2022_buffer=data_2022
data_2022_buffer['geometry']= data_2022_buffer.buffer(3,cap_style=2)
ct_data_2022 = ct_sel.sjoin(data_2022_buffer, how="left")
ct_data_2022=ct_data_2022.dropna().reset_index()

In [38]:
month1 = ct_data_2022.apply(lambda x: pd.Series(x['month']),axis=1).stack().reset_index(level=1, drop=True)
month1.name = 'month'
ct_data_2022 = ct_data_2022.drop('month', axis=1).join(month1)
ct_data_2022['month'] = ct_data_2022['month'].astype(str)
ct2022_cd33 = gpd.overlay(ct_data_2022, cd33, how='intersection')
ct2022_cd33

,level_0,BoroCT2020,NTAName,GEOID,index_right,index,EventID,EventType,StartDateT,EndDateTim,...,hours,date,hour_sum,day_sum,StartDateTime,month,CounDist,Shape_Leng,Shape_Area,geometry
0,7,1000900,Financial District-Battery Park City,36061000900,31790.0,38293.0,620264.0,Shooting Permit,01/14/2022 11:00:00 AM,01/15/2022 02:00:00 AM,...,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...","[2022-01-15, 2022-01-14]",15.0,0.625000,2022-01-14 11:00:00,1.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
1,7,1000900,Financial District-Battery Park City,36061000900,34184.0,41219.0,627672.0,Shooting Permit,02/28/2022 07:00:00 AM,02/28/2022 11:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2022-02-28],16.0,0.666667,2022-02-28 07:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
2,7,1000900,Financial District-Battery Park City,36061000900,34189.0,41233.0,627672.0,Shooting Permit,02/28/2022 07:00:00 AM,02/28/2022 11:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2022-02-28],16.0,0.666667,2022-02-28 07:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
3,7,1000900,Financial District-Battery Park City,36061000900,33170.0,39985.0,623625.0,Shooting Permit,02/01/2022 07:00:00 AM,02/01/2022 09:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2022-02-01],14.0,0.583333,2022-02-01 07:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
4,7,1000900,Financial District-Battery Park City,36061000900,35500.0,42820.0,625934.0,Shooting Permit,02/22/2022 06:00:00 AM,02/22/2022 11:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2022-02-22],17.0,0.708333,2022-02-22 06:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,1210,3059300,Greenpoint,36047059300,0.0,0.0,628327.0,Shooting Permit,03/08/2022 07:00:00 AM,03/08/2022 07:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]",[2022-03-08],12.0,0.500000,2022-03-08 07:00:00,3.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."
2242,1210,3059300,Greenpoint,36047059300,55.0,65.0,628732.0,Shooting Permit,03/08/2022 07:00:00 AM,03/08/2022 10:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2022-03-08],15.0,0.625000,2022-03-08 07:00:00,3.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."
2243,1210,3059300,Greenpoint,36047059300,36488.0,44013.0,626771.0,Shooting Permit,02/22/2022 05:00:00 PM,02/22/2022 11:00:00 PM,...,"[17, 18, 19, 20, 21, 22]",[2022-02-22],6.0,0.250000,2022-02-22 17:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."
2244,1210,3059300,Greenpoint,36047059300,33697.0,40642.0,625118.0,Shooting Permit,02/10/2022 06:00:00 AM,02/11/2022 01:00:00 AM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[2022-02-10, 2022-02-11]",19.0,0.791667,2022-02-10 06:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."
2245,1210,3059300,Greenpoint,36047059300,33774.0,40729.0,627808.0,Shooting Permit,03/02/2022 06:00:00 AM,03/02/2022 09:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2022-03-02],15.0,0.625000,2022-03-02 06:00:00,3.0,33,132482.563104,1.242545e+08,"POLYGON ((1002156.099 203750.600, 1001777.645 ..."

In [39]:
ct_2022_sel=ct2022_cd33[['BoroCT2020','EventID','hour_sum','day_sum','month']]
ct_2022_sel=ct_2022_sel.drop_duplicates()
ct_2022_sel['month']= ct_2022_sel['month'].astype(float).astype(int)
ct_2022_sel

     BoroCT2020   EventID  hour_sum   day_sum  month
0       1000900  620264.0      15.0  0.625000      1
1       1000900  627672.0      16.0  0.666667      2
3       1000900  623625.0      14.0  0.583333      2
4       1000900  625934.0      17.0  0.708333      2
5       1000900  621051.0      11.0  0.458333      1
...         ...       ...       ...       ...    ...
2241    3059300  628327.0      12.0  0.500000      3
2242    3059300  628732.0      15.0  0.625000      3
2243    3059300  626771.0       6.0  0.250000      2
2244    3059300  625118.0      19.0  0.791667      2
2245    3059300  627808.0      15.0  0.625000      3

[760 rows x 5 columns]

In [40]:
ct_2022_sum = ct_2022_sel[['BoroCT2020','hour_sum','day_sum','month']].groupby(by=['BoroCT2020','month']).sum()
ct_2022_sum = ct_2022_sum.reset_index()
ct_2022_sum.sort_values('day_sum')

    BoroCT2020  month  hour_sum    day_sum
22     3001100      1       2.0   0.083333
74     3044902      2       9.0   0.375000
56     3006902      1      12.0   0.500000
58     3007500      1      12.0   0.500000
12     3000501      3      12.0   0.500000
..         ...    ...       ...        ...
127    3057300      1     601.0  25.041667
138    3058901      1     773.0  32.208333
139    3058901      2     791.0  32.958333
135    3057902      1     963.0  40.125000
136    3057902      2    1014.0  42.250000

[150 rows x 4 columns]

In [41]:
pivot_time_2022 = ct_2022_sum.pivot_table(index =['BoroCT2020'], values =['day_sum'],columns='month')
pivot_time_2022
# pivot_time_2022.to_csv('../output/Pivot_permits_cd33_2022_time.csv')

              day_sum
month               1          2          3
BoroCT2020
1000900      1.083333   1.958333        NaN
1001501           NaN   2.583333        NaN
1001502      2.875000   4.458333        NaN
3000100      1.791667   1.666667   1.833333
3000301      0.958333   1.333333        NaN
...               ...        ...        ...
3057902     40.125000  42.250000  13.208333
3058901     32.208333  32.958333  12.125000
3058902      1.458333   1.750000   2.625000
3059100      1.500000   2.625000   1.375000
3059300      0.625000   1.041667   2.625000

[69 rows x 3 columns]