In [4]:
import warnings
warnings.filterwarnings("ignore")

import requests
import numpy as np
import pandas as pd
import geopandas as gpd # GeoPandas library for spatial analytics
from shapely.geometry import shape
from shapely.geometry import shape

In [10]:
lion = gpd.read_file("../vector/lion_line" )

In [26]:
#unlimit columuns display
pd.set_option('display.max_columns', None)

In [25]:
lion_name = lion[['Street','SegmentID']]
lion_name

                            Street SegmentID
0                  EAST 168 STREET   0078126
1                  WEST 192 STREET   0079796
2                     UNION AVENUE   0077356
3                     UNION AVENUE   0077356
4                     UNION AVENUE   0077356
...                            ...       ...
235219  STATEN ISLAND RAILWAY LINE   0331621
235220  STATEN ISLAND RAILWAY LINE   0331622
235221  STATEN ISLAND RAILWAY LINE   0331670
235222  STATEN ISLAND RAILWAY LINE   0334047
235223  STATEN ISLAND RAILWAY LINE   0334048

[235224 rows x 2 columns]

In [36]:
df_geo=gpd.read_file('../vector/Segment count_GeoBoundary/Segment count_GeoBoundary.shp')  
df_geo = df_geo[['SegmentID','counts','CounDist','boro_cd','geometry']]
df_geo.set_index('SegmentID')

,counts,CounDist,boro_cd,geometry
SegmentID,,,,
0000184,1.0,51,503.0,"LINESTRING (915592.630 124832.332, 915356.226 ..."
0000185,2.0,51,503.0,"LINESTRING (915827.888 124923.463, 915592.630 ..."
0000186,1.0,51,503.0,"LINESTRING (915827.888 124923.463, 916061.851 ..."
0000191,1.0,51,503.0,"LINESTRING (915211.804 125369.634, 915434.740 ..."
0000193,2.0,51,503.0,"LINESTRING (915434.740 125062.098, 915592.630 ..."
...,...,...,...,...
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ..."
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ..."
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ..."
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ..."
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ..."

In [65]:
df_seg_name = df_geo.merge(lion_name,how='left',on='SegmentID')
df_seg_name.rename(columns={"counts": "Counts","counts": "Counts"})
df_seg_name.head(2)

,SegmentID,counts,CounDist,boro_cd,geometry,Street
0,0000184,1.0,51,503.0,"LINESTRING (915592.630 124832.332, 915356.226 ...",AMBOY ROAD
1,0000185,2.0,51,503.0,"LINESTRING (915827.888 124923.463, 915592.630 ...",AMBOY ROAD

In [66]:
df_seg_name = df_seg_name.rename(columns={"counts":"Counts","CounDist":"Council District","boro_cd":"Community District"})
df_seg_name = df_seg_name.set_index('SegmentID')
df_seg_name

,Counts,Council District,Community District,geometry,Street
SegmentID,,,,,
0000184,1.0,51,503.0,"LINESTRING (915592.630 124832.332, 915356.226 ...",AMBOY ROAD
0000185,2.0,51,503.0,"LINESTRING (915827.888 124923.463, 915592.630 ...",AMBOY ROAD
0000186,1.0,51,503.0,"LINESTRING (915827.888 124923.463, 916061.851 ...",CHELSEA STREET
0000191,1.0,51,503.0,"LINESTRING (915211.804 125369.634, 915434.740 ...",MAIN STREET
0000193,2.0,51,503.0,"LINESTRING (915434.740 125062.098, 915592.630 ...",MAIN STREET
...,...,...,...,...,...
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE
9017020,2.0,8,111.0,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE

In [68]:
df_seg_name['Community District'] = round(df_seg_name['Community District']).astype(int)
df_seg_name['Counts'] = df_seg_name['Counts'].astype(int)
df_seg_name

,Counts,Council District,Community District,geometry,Street
SegmentID,,,,,
0000184,1,51,503,"LINESTRING (915592.630 124832.332, 915356.226 ...",AMBOY ROAD
0000185,2,51,503,"LINESTRING (915827.888 124923.463, 915592.630 ...",AMBOY ROAD
0000186,1,51,503,"LINESTRING (915827.888 124923.463, 916061.851 ...",CHELSEA STREET
0000191,1,51,503,"LINESTRING (915211.804 125369.634, 915434.740 ...",MAIN STREET
0000193,2,51,503,"LINESTRING (915434.740 125062.098, 915592.630 ...",MAIN STREET
...,...,...,...,...,...
9017020,2,8,111,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE
9017020,2,8,111,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE
9017020,2,8,111,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE
9017020,2,8,111,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE
9017020,2,8,111,"LINESTRING (996877.202 227016.496, 997018.298 ...",5 AVENUE

In [69]:
df_seg_name.to_file('../output/permit_city_segment_count.shp')