In [2]:
import warnings
warnings.filterwarnings("ignore")

import requests
import numpy as np
import pandas as pd
import geopandas as gpd # GeoPandas library for spatial analytics
from shapely.geometry import shape
from shapely.geometry import shape

from datetime import datetime, timedelta

In [3]:
data = gpd.read_file("../output/film permit_city_from 2018.shp" )

In [5]:
data.head(5)

,EventID,EventType,StartDateT,EndDateTim,EnteredOn,EventAgenc,ParkingHel,Borough,CommunityB,PolicePrec,Category,SubCategor,Country,SegmentID,OBJECTID,Join_ID,geometry
0,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,61,Television,Episodic series,United States of America,0108149,41559.0,3703201000000,"LINESTRING (997364.767 153166.254, 997613.031 ..."
1,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,61,Television,Episodic series,United States of America,0115148,58506.0,3804801000000,"LINESTRING (997060.499 152673.840, 997307.372 ..."
2,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,61,Television,Episodic series,United States of America,0026080,66195.0,3804801000000,"LINESTRING (997307.372 152707.114, 997613.031 ..."
3,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,61,Television,Episodic series,United States of America,0026083,46678.0,3804801000000,"LINESTRING (997613.031 152752.377, 997840.586 ..."
4,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,61,Television,Episodic series,United States of America,0127321,56233.0,3285601000000,"LINESTRING (997380.797 154082.381, 997400.761 ..."

In [7]:
data_fil=data.drop(columns=['OBJECTID','Join_ID'])
data_fil=data_fil.drop_duplicates().reset_index()

In [8]:
len(data_fil)/len(data)

0.7792256068156245

In [9]:
def range_to_list(a, b):
    return pd.date_range(a, b, freq = 'H')[:-1]
data_fil['StartEnd'] = [[i, j] for i, j in zip( data_fil['StartDateT'], data_fil['EndDateTim'])]
data_fil['TimeList'] = data_fil['StartEnd'].apply(lambda x: range_to_list(x[0], x[1]))
data_fil['hours'] = data_fil['TimeList'].apply(lambda x: list(x.hour))
data_fil['month'] = data_fil['TimeList'].apply(lambda x: list(set(x.month)))
data_fil['date'] = data_fil['TimeList'].apply(lambda x: list(set(x.date)))
data_fil['hour_sum'] = data_fil['hours'].apply(lambda x: len(x))  
data_fil['day_sum']=data_fil['hour_sum']/24

In [10]:
data_fil

,index,EventID,EventType,StartDateT,EndDateTim,EnteredOn,EventAgenc,ParkingHel,Borough,CommunityB,...,Country,SegmentID,geometry,StartEnd,TimeList,hours,month,date,hour_sum,day_sum
0,0,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,...,United States of America,0108149,"LINESTRING (997364.767 153166.254, 997613.031 ...","[01/22/2021 10:00:00 AM, 01/23/2021 1:00:00 AM]","DatetimeIndex(['2021-01-22 10:00:00', '2021-01...","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",[1],"[2021-01-22, 2021-01-23]",15,0.625000
1,1,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,...,United States of America,0115148,"LINESTRING (997060.499 152673.840, 997307.372 ...","[01/22/2021 10:00:00 AM, 01/23/2021 1:00:00 AM]","DatetimeIndex(['2021-01-22 10:00:00', '2021-01...","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",[1],"[2021-01-22, 2021-01-23]",15,0.625000
2,2,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,...,United States of America,0026080,"LINESTRING (997307.372 152707.114, 997613.031 ...","[01/22/2021 10:00:00 AM, 01/23/2021 1:00:00 AM]","DatetimeIndex(['2021-01-22 10:00:00', '2021-01...","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",[1],"[2021-01-22, 2021-01-23]",15,0.625000
3,3,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,...,United States of America,0026083,"LINESTRING (997613.031 152752.377, 997840.586 ...","[01/22/2021 10:00:00 AM, 01/23/2021 1:00:00 AM]","DatetimeIndex(['2021-01-22 10:00:00', '2021-01...","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",[1],"[2021-01-22, 2021-01-23]",15,0.625000
4,4,559223,Shooting Permit,01/22/2021 10:00:00 AM,01/23/2021 1:00:00 AM,01/19/2021 1:13:21 PM,"Mayor's Office of Film, Theatre & Broadcasting",SHEEPSHEAD BAY ROAD between VOORHIES AVENUE an...,Brooklyn,15,...,United States of America,0127321,"LINESTRING (997380.797 154082.381, 997400.761 ...","[01/22/2021 10:00:00 AM, 01/23/2021 1:00:00 AM]","DatetimeIndex(['2021-01-22 10:00:00', '2021-01...","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",[1],"[2021-01-22, 2021-01-23]",15,0.625000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77556,99530,390784,Shooting Permit,01/04/2018 6:00:00 AM,01/04/2018 8:00:00 PM,01/02/2018 7:41:45 AM,"Mayor's Office of Film, Theatre & Broadcasting",BROADWAY between GRAND STREET and HOWARD STREE...,Manhattan,2,...,United States of America,0032097,"LINESTRING (983855.129 201569.066, 984066.851 ...","[01/04/2018 6:00:00 AM, 01/04/2018 8:00:00 PM]","DatetimeIndex(['2018-01-04 06:00:00', '2018-01...","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[1],[2018-01-04],14,0.583333
77557,99531,390784,Shooting Permit,01/04/2018 6:00:00 AM,01/04/2018 8:00:00 PM,01/02/2018 7:41:45 AM,"Mayor's Office of Film, Theatre & Broadcasting",BROADWAY between GRAND STREET and HOWARD STREE...,Manhattan,2,...,United States of America,0032327,"LINESTRING (984066.851 201897.907, 984286.594 ...","[01/04/2018 6:00:00 AM, 01/04/2018 8:00:00 PM]","DatetimeIndex(['2018-01-04 06:00:00', '2018-01...","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[1],[2018-01-04],14,0.583333
77558,99532,391010,Shooting Permit,01/04/2018 6:00:00 AM,01/04/2018 10:00:00 PM,01/03/2018 11:31:29 AM,"Mayor's Office of Film, Theatre & Broadcasting","35 STREET between 34 AVENUE and 35 AVENUE, 35...",Queens,1,...,United States of America,0067758,"LINESTRING (1005289.911 215509.917, 1004944.94...","[01/04/2018 6:00:00 AM, 01/04/2018 10:00:00 PM]","DatetimeIndex(['2018-01-04 06:00:00', '2018-01...","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[1],[2018-01-04],16,0.666667
77559,99533,391010,Shooting Permit,01/04/2018 6:00:00 AM,01/04/2018 10:00:00 PM,01/03/2018 11:31:29 AM,"Mayor's Office of Film, Theatre & Broadcasting","35 STREET between 34 AVENUE and 35 AVENUE, 35...",Queens,1,...,United States of America,0067649,"LINESTRING (1004944.942 214945.781, 1005165.85...","[01/04/2018 6:00:00 AM, 01/04/2018 10:00:00 PM]","DatetimeIndex(['2018-01-04 06:00:00', '2018-01...","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[1],[2018-01-04],16,0.666667
77560,99534,390863,Shooting Permit,01/03/2018 3:00:00 AM,01/03/2018 11:00:00 AM,01/02/2018 12:47:16 PM,"Mayor's Office of Film, Theatre & Broadcasting",WEST 48 STREET between 6 AVENUE and 7 AVENUE,Manhattan,5,...,United States of America,0034202,"LINESTRING (989419.212 215672.200, 988634.394 ...","[01/03/2018 3:00:00 AM, 01/03/2018 11:00:00 AM]","DatetimeIndex(['2018-01-03 03:00:00', '2018-01...","[3, 4, 5, 6, 7, 8, 9, 10]",[1],[2018-01-03],8,0.333333

In [11]:
data_fil['StartDateTime'] = data_fil['StartDateT'].apply(pd.to_datetime)

In [12]:
data_2018 = data_fil[(data_fil['StartDateTime']>='2018-1-1') & (data_fil['StartDateTime']<'2019-1-1')]

In [13]:
data_2018_buffer=data_2018
data_2018_buffer['geometry']= data_2018_buffer.buffer(3,cap_style=2)

In [14]:
ct = gpd.read_file("../vector/2020 Census Tract_NYC" )
ct_sel = ct[['BoroCT2020','NTAName','GEOID','geometry']]

In [15]:
ct_data_2018 = ct_sel.sjoin(data_2018_buffer, how="left")
ct_data_2018=ct_data_2018.dropna().reset_index()

In [16]:
month1 = ct_data_2018.apply(lambda x: pd.Series(x['month']),axis=1).stack().reset_index(level=1, drop=True)
month1.name = 'month'
ct_data_2018 = ct_data_2018.drop('month', axis=1).join(month1)
ct_data_2018['month'] = ct_data_2018['month'].astype(str)
ct_data_2018.head(5)

,level_0,BoroCT2020,NTAName,GEOID,geometry,index_right,index,EventID,EventType,StartDateT,...,Country,SegmentID,StartEnd,TimeList,hours,date,hour_sum,day_sum,StartDateTime,month
0,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",46241.0,59378.0,451137.0,Shooting Permit,11/18/2018 5:00:00 PM,...,United States of America,0024525,"[11/18/2018 5:00:00 PM, 11/19/2018 6:00:00 PM]","DatetimeIndex(['2018-11-18 17:00:00', '2018-11...","[17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5,...","[2018-11-19, 2018-11-18]",25.0,1.041667,2018-11-18 17:00:00,11.0
1,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",51493.0,66061.0,444856.0,Shooting Permit,10/09/2018 7:00:00 AM,...,United States of America,0024525,"[10/09/2018 7:00:00 AM, 10/10/2018 1:00:00 AM]","DatetimeIndex(['2018-10-09 07:00:00', '2018-10...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...","[2018-10-09, 2018-10-10]",18.0,0.750000,2018-10-09 07:00:00,10.0
2,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",71701.0,91821.0,402632.0,Shooting Permit,03/13/2018 7:00:00 AM,...,United States of America,0024376,"[03/13/2018 7:00:00 AM, 03/13/2018 11:00:00 PM]","DatetimeIndex(['2018-03-13 07:00:00', '2018-03...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2018-03-13],16.0,0.666667,2018-03-13 07:00:00,3.0
3,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",71703.0,91826.0,402632.0,Shooting Permit,03/13/2018 7:00:00 AM,...,United States of America,0302057,"[03/13/2018 7:00:00 AM, 03/13/2018 11:00:00 PM]","DatetimeIndex(['2018-03-13 07:00:00', '2018-03...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2018-03-13],16.0,0.666667,2018-03-13 07:00:00,3.0
4,1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",71702.0,91825.0,402632.0,Shooting Permit,03/13/2018 7:00:00 AM,...,United States of America,0024372,"[03/13/2018 7:00:00 AM, 03/13/2018 11:00:00 PM]","DatetimeIndex(['2018-03-13 07:00:00', '2018-03...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2018-03-13],16.0,0.666667,2018-03-13 07:00:00,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58983,2316,5029104,New Springville-Willowbrook-Bulls Head-Travis,36085029104,"POLYGON ((941580.293 162409.319, 941744.148 16...",60290.0,77269.0,432375.0,Shooting Permit,07/23/2018 9:00:00 AM,...,United States of America,0294652,"[07/23/2018 9:00:00 AM, 07/23/2018 10:00:00 PM]","DatetimeIndex(['2018-07-23 09:00:00', '2018-07...","[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...",[2018-07-23],13.0,0.541667,2018-07-23 09:00:00,7.0
58984,2316,5029104,New Springville-Willowbrook-Bulls Head-Travis,36085029104,"POLYGON ((941580.293 162409.319, 941744.148 16...",61925.0,79331.0,428066.0,Shooting Permit,07/02/2018 7:00:00 AM,...,United States of America,0294652,"[07/02/2018 7:00:00 AM, 07/02/2018 8:00:00 PM]","DatetimeIndex(['2018-07-02 07:00:00', '2018-07...","[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]",[2018-07-02],13.0,0.541667,2018-07-02 07:00:00,7.0
58985,2322,5031902,Mariner's Harbor-Arlington-Graniteville,36085031902,"POLYGON ((939747.491 171919.373, 939778.967 17...",57264.0,73408.0,437245.0,Shooting Permit,08/20/2018 6:00:00 AM,...,United States of America,0219098,"[08/20/2018 6:00:00 AM, 08/20/2018 10:00:00 PM]","DatetimeIndex(['2018-08-20 06:00:00', '2018-08...","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2018-08-20],16.0,0.666667,2018-08-20 06:00:00,8.0
58986,2322,5031902,Mariner's Harbor-Arlington-Graniteville,36085031902,"POLYGON ((939747.491 171919.373, 939778.967 17...",57137.0,73240.0,437247.0,Shooting Permit,08/21/2018 6:00:00 AM,...,United States of America,0219098,"[08/21/2018 6:00:00 AM, 08/21/2018 10:00:00 PM]","DatetimeIndex(['2018-08-21 06:00:00', '2018-08...","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2018-08-21],16.0,0.666667,2018-08-21 06:00:00,8.0
58987,2322,5031902,Mariner's Harbor-Arlington-Graniteville,36085031902,"POLYGON ((939747.491 171919.373, 939778.967 17...",57138.0,73241.0,437247.0,Shooting Permit,08/21/2018 6:00:00 AM,...,United States of America,0126538,"[08/21/2018 6:00:00 AM, 08/21/2018 10:00:00 PM]","DatetimeIndex(['2018-08-21 06:00:00', '2018-08...","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2018-08-21],16.0,0.666667,2018-08-21 06:00:00,8.0

In [17]:
cd = gpd.read_file("../vector/Council Districts/nycc.shp")
cd33 = cd[cd['CounDist']==33]

In [18]:
ct2018_cd33 = gpd.overlay(ct_data_2018, cd33, how='intersection')
ct2018_cd33.head(5)

,level_0,BoroCT2020,NTAName,GEOID,index_right,index,EventID,EventType,StartDateT,EndDateTim,...,hours,date,hour_sum,day_sum,StartDateTime,month,CounDist,Shape_Leng,Shape_Area,geometry
0,7,1000900,Financial District-Battery Park City,36061000900,64459.0,82640.0,420613.0,Shooting Permit,05/30/2018 3:00:00 PM,05/31/2018 5:00:00 AM,...,"[15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, ...","[2018-05-30, 2018-05-31]",14.0,0.583333,2018-05-30 15:00:00,5.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
1,7,1000900,Financial District-Battery Park City,36061000900,56468.0,72408.0,437352.0,Shooting Permit,08/24/2018 5:00:00 AM,08/24/2018 10:30:00 AM,...,"[5, 6, 7, 8, 9]",[2018-08-24],5.0,0.208333,2018-08-24 05:00:00,8.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
2,7,1000900,Financial District-Battery Park City,36061000900,76391.0,98031.0,393579.0,Shooting Permit,01/25/2018 7:00:00 AM,01/25/2018 9:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2018-01-25],14.0,0.583333,2018-01-25 07:00:00,1.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
3,7,1000900,Financial District-Battery Park City,36061000900,44337.0,57013.0,455117.0,Shooting Permit,12/08/2018 6:00:00 AM,12/08/2018 5:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]",[2018-12-08],11.0,0.458333,2018-12-08 06:00:00,12.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
4,7,1000900,Financial District-Battery Park City,36061000900,76247.0,97849.0,393640.0,Shooting Permit,01/26/2018 7:30:00 AM,01/26/2018 9:30:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2018-01-26],14.0,0.583333,2018-01-26 07:30:00,1.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10639,1472,3123700,Bedford-Stuyvesant (West),36047123700,69380.0,88817.0,406593.0,Shooting Permit,04/03/2018 6:00:00 AM,04/03/2018 8:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2018-04-03],14.0,0.583333,2018-04-03 06:00:00,4.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
10640,1472,3123700,Bedford-Stuyvesant (West),36047123700,54613.0,70108.0,440852.0,Shooting Permit,09/13/2018 11:00:00 AM,09/13/2018 11:30:00 PM,...,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]",[2018-09-13],12.0,0.500000,2018-09-13 11:00:00,9.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
10641,1472,3123700,Bedford-Stuyvesant (West),36047123700,69514.0,89021.0,406598.0,Shooting Permit,03/31/2018 6:00:00 AM,03/31/2018 2:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13]",[2018-03-31],8.0,0.333333,2018-03-31 06:00:00,3.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
10642,1472,3123700,Bedford-Stuyvesant (West),36047123700,60778.0,77899.0,431059.0,Shooting Permit,07/18/2018 8:00:00 AM,07/18/2018 11:00:00 PM,...,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",[2018-07-18],15.0,0.625000,2018-07-18 08:00:00,7.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
10643,1472,3123700,Bedford-Stuyvesant (West),36047123700,69419.0,88860.0,406441.0,Shooting Permit,04/02/2018 7:30:00 AM,04/02/2018 8:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]",[2018-04-02],12.0,0.500000,2018-04-02 07:30:00,4.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."

In [19]:
ct_2018_forsum=ct2018_cd33[['BoroCT2020','EventID','hour_sum','day_sum','month']]
ct_2018_forsum=ct_2018_forsum.drop_duplicates()
ct_2018_forsum['month']= ct_2018_forsum['month'].astype(float).astype(int)

ct_2018_forsum

      BoroCT2020   EventID  hour_sum   day_sum  month
0        1000900  420613.0      14.0  0.583333      5
1        1000900  437352.0       5.0  0.208333      8
2        1000900  393579.0      14.0  0.583333      1
3        1000900  455117.0      11.0  0.458333     12
4        1000900  393640.0      14.0  0.583333      1
...          ...       ...       ...       ...    ...
10631    3123700  394810.0      14.0  0.583333      1
10639    3123700  406593.0      14.0  0.583333      4
10640    3123700  440852.0      12.0  0.500000      9
10641    3123700  406598.0       8.0  0.333333      3
10643    3123700  406441.0      12.0  0.500000      4

[4331 rows x 5 columns]

In [20]:
ct_2018_sum = ct_2018_forsum[['BoroCT2020','hour_sum','day_sum','month']].groupby(by=['BoroCT2020','month']).sum()
ct_2018_sum = ct_2018_sum.reset_index()
ct_2018_sum.sort_values('day_sum')

    BoroCT2020  month  hour_sum    day_sum
329    3023300      5       4.0   0.166667
306    3012901     10       5.0   0.208333
19     1001501      8       5.0   0.208333
161    3002300     11       6.0   0.250000
425    3049900      1       6.0   0.250000
..         ...    ...       ...        ...
714    3057902     12     780.0  32.500000
705    3057902      3     911.0  37.958333
712    3057902     10     950.0  39.583333
710    3057902      8     956.0  39.833333
713    3057902     11    1046.0  43.583333

[760 rows x 4 columns]

In [21]:
ct_2018_sum[ct_2018_sum['month']=='nan']

Empty DataFrame
Columns: [BoroCT2020, month, hour_sum, day_sum]
Index: []

In [22]:
pivot_time_2018 = ct_2018_sum.pivot_table(index =['BoroCT2020'], values =['day_sum'],columns='month')
pivot_time_2018

              day_sum                                                       \
month              1          2          3          4         5         6
BoroCT2020
1000900      4.666667   1.916667   3.125000   1.500000  3.625000  3.666667
1001501      1.166667   2.416667   1.041667   4.708333  2.416667  2.375000
1001502      1.416667   3.041667   6.083333   4.541667  1.833333  2.541667
1002400           NaN        NaN   1.250000   0.583333       NaN       NaN
1004400           NaN        NaN   1.250000        NaN  1.708333       NaN
...               ...        ...        ...        ...       ...       ...
3058901     13.875000  25.708333  32.000000  15.541667  6.166667  6.375000
3058902           NaN        NaN   3.708333        NaN       NaN       NaN
3059100           NaN   0.708333        NaN   0.583333       NaN  0.541667
3059300           NaN        NaN   3.708333        NaN       NaN  0.541667
3123700      1.250000   0.583333   3.083333   1.083333  0.708333  0.625000


month              7          8          9          10         11         12
BoroCT2020
1000900      1.583333   1.500000   3.375000   7.208333   3.708333   1.750000
1001501      1.041667   0.208333   1.625000   3.125000        NaN   1.958333
1001502      2.208333   3.791667   0.666667   3.916667   2.083333   0.458333
1002400      0.666667   1.666667   0.500000        NaN   1.333333        NaN
1004400           NaN        NaN        NaN   1.375000        NaN   0.625000
...               ...        ...        ...        ...        ...        ...
3058901     15.333333  31.625000  24.250000  31.375000  30.041667  25.541667
3058902      1.250000   4.916667   2.500000   4.125000   0.666667   3.625000
3059100      2.583333   1.208333   0.541667   3.125000   2.500000   1.333333
3059300      2.583333   4.916667   1.833333   4.125000   0.666667   3.625000
3123700      3.083333        NaN   0.500000        NaN        NaN   1.125000

[89 rows x 12 columns]

In [23]:
pivot_time_2018.to_csv('../output/Pivot_permits_cd33_2018_time.csv')

In [129]:
# ct_timesum_2021 = pd.merge(ct_sel, ct_2021_sum, how="left", on=["BoroCT2020"])
# ct_timesum_2021

,BoroCT2020,NTAName,GEOID,geometry,month,hour_sum,day_sum
0,1000100,The Battery-Governors Island-Ellis Island-Libe...,36061000100,"MULTIPOLYGON (((972081.788 190733.467, 972184....",NaN,NaN,NaN
1,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",10.0,10.0,0.416667
2,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",7.0,33.0,1.375000
3,1000201,Chinatown-Two Bridges,36061000201,"POLYGON ((988548.218 197770.375, 987978.808 19...",8.0,16.0,0.666667
4,1000202,Lower East Side,36061000202,"MULTIPOLYGON (((989137.110 196325.439, 989113....",10.0,38.0,1.583333
...,...,...,...,...,...,...,...
6405,5030302,Mariner's Harbor-Arlington-Graniteville,36085030302,"POLYGON ((939696.662 167578.833, 939768.394 16...",NaN,NaN,NaN
6406,5031901,Mariner's Harbor-Arlington-Graniteville,36085031901,"POLYGON ((939696.662 167578.833, 939508.024 16...",NaN,NaN,NaN
6407,5031902,Mariner's Harbor-Arlington-Graniteville,36085031902,"POLYGON ((939747.491 171919.373, 939778.967 17...",1.0,15.0,0.625000
6408,5032300,Mariner's Harbor-Arlington-Graniteville,36085032300,"POLYGON ((936740.120 173125.853, 936712.951 17...",NaN,NaN,NaN
6409,5990100,Hoffman & Swinburne Islands,36085990100,"MULTIPOLYGON (((970217.022 145643.332, 970227....",NaN,NaN,NaN

## 2019 Time

In [24]:
data_2019 = data_fil[(data_fil['StartDateTime']>='2019-1-1') & (data_fil['StartDateTime']<'2020-1-1')]

In [25]:
data_2019_buffer=data_2019
data_2019_buffer['geometry']= data_2019_buffer.buffer(3,cap_style=2)
ct_data_2019 = ct_sel.sjoin(data_2019_buffer, how="left")
ct_data_2019=ct_data_2019.dropna().reset_index()

In [26]:
month1 = ct_data_2019.apply(lambda x: pd.Series(x['month']),axis=1).stack().reset_index(level=1, drop=True)
month1.name = 'month'
ct_data_2019 = ct_data_2019.drop('month', axis=1).join(month1)
ct_data_2019['month'] = ct_data_2019['month'].astype(str)
ct2019_cd33 = gpd.overlay(ct_data_2019, cd33, how='intersection')
ct2019_cd33

,level_0,BoroCT2020,NTAName,GEOID,index_right,index,EventID,EventType,StartDateT,EndDateTim,...,hours,date,hour_sum,day_sum,StartDateTime,month,CounDist,Shape_Leng,Shape_Area,geometry
0,7,1000900,Financial District-Battery Park City,36061000900,26659.0,34271.0,497042.0,Shooting Permit,07/12/2019 1:30:00 PM,07/13/2019 6:00:00 AM,...,"[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0...","[2019-07-13, 2019-07-12]",16.0,0.666667,2019-07-12 13:30:00,7.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
1,7,1000900,Financial District-Battery Park City,36061000900,36411.0,46841.0,471981.0,Shooting Permit,03/26/2019 5:00:00 PM,03/27/2019 7:00:00 AM,...,"[17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6]","[2019-03-27, 2019-03-26]",14.0,0.583333,2019-03-26 17:00:00,3.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
2,7,1000900,Financial District-Battery Park City,36061000900,36567.0,47052.0,471760.0,Shooting Permit,03/25/2019 3:00:00 PM,03/26/2019 6:00:00 AM,...,"[15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, ...","[2019-03-25, 2019-03-26]",15.0,0.625000,2019-03-25 15:00:00,3.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
3,7,1000900,Financial District-Battery Park City,36061000900,29943.0,38554.0,490667.0,Shooting Permit,06/10/2019 7:00:00 AM,06/10/2019 8:30:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]",[2019-06-10],13.0,0.541667,2019-06-10 07:00:00,6.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
4,7,1000900,Financial District-Battery Park City,36061000900,38091.0,49058.0,468917.0,Shooting Permit,03/12/2019 7:00:00 AM,03/12/2019 10:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2019-03-12],15.0,0.625000,2019-03-12 07:00:00,3.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9238,1472,3123700,Bedford-Stuyvesant (West),36047123700,43069.0,55385.0,457708.0,Shooting Permit,01/05/2019 6:00:00 AM,01/05/2019 11:59:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2019-01-05],17.0,0.708333,2019-01-05 06:00:00,1.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
9239,1472,3123700,Bedford-Stuyvesant (West),36047123700,43125.0,55455.0,457684.0,Shooting Permit,01/03/2019 6:00:00 AM,01/03/2019 10:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2019-01-03],16.0,0.666667,2019-01-03 06:00:00,1.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
9240,1472,3123700,Bedford-Stuyvesant (West),36047123700,30399.0,39139.0,488664.0,Shooting Permit,06/04/2019 6:00:00 AM,06/04/2019 8:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2019-06-04],14.0,0.583333,2019-06-04 06:00:00,6.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
9241,1472,3123700,Bedford-Stuyvesant (West),36047123700,30396.0,39136.0,488664.0,Shooting Permit,06/04/2019 6:00:00 AM,06/04/2019 8:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2019-06-04],14.0,0.583333,2019-06-04 06:00:00,6.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
9242,1472,3123700,Bedford-Stuyvesant (West),36047123700,30397.0,39137.0,488664.0,Shooting Permit,06/04/2019 6:00:00 AM,06/04/2019 8:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2019-06-04],14.0,0.583333,2019-06-04 06:00:00,6.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."

In [27]:
ct_2019_forsum=ct2019_cd33[['BoroCT2020','EventID','hour_sum','day_sum','month']]
ct_2019_forsum=ct_2019_forsum.drop_duplicates()
ct_2019_forsum['month']= ct_2019_forsum['month'].astype(float).astype(int)
ct_2019_forsum

     BoroCT2020   EventID  hour_sum   day_sum  month
0       1000900  497042.0      16.0  0.666667      7
1       1000900  471981.0      14.0  0.583333      3
2       1000900  471760.0      15.0  0.625000      3
3       1000900  490667.0      13.0  0.541667      6
4       1000900  468917.0      15.0  0.625000      3
...         ...       ...       ...       ...    ...
9222    3123700  469690.0      12.0  0.500000      3
9223    3123700  457684.0      16.0  0.666667      1
9230    3123700  488664.0      14.0  0.583333      6
9234    3123700  498813.0      15.0  0.625000      7
9236    3123700  468873.0      16.0  0.666667      3

[3968 rows x 5 columns]

In [29]:
ct_2019_sum = ct_2019_forsum[['BoroCT2020','hour_sum','day_sum','month']].groupby(by=['BoroCT2020','month']).sum()
ct_2019_sum = ct_2019_sum.reset_index()
ct_2019_sum.sort_values('day_sum')

    BoroCT2020  month  hour_sum    day_sum
136    3001501      7       4.0   0.166667
699    3059100      6       4.0   0.166667
504    3054300      5       5.0   0.208333
315    3021100      5       5.0   0.208333
466    3051900      7       6.0   0.250000
..         ...    ...       ...        ...
666    3057902      3     962.0  40.083333
674    3057902     11     978.0  40.750000
673    3057902     10    1048.0  43.666667
171    3003300      9    1055.0  43.958333
183    3003500      9    1125.0  46.875000

[721 rows x 4 columns]

In [34]:
pivot_time_2019 = ct_2019_sum.pivot_table(index =['BoroCT2020'], values =['day_sum'],columns='month')

pivot_time_2019.to_csv('../output/Pivot_permits_cd33_2019_time.csv')

In [33]:
pivot_time_2019

              day_sum                                                       \
month              1          2          3          4         5         6
BoroCT2020
1000900      0.500000   0.625000   5.916667   2.916667  3.458333  2.333333
1001501      2.291667   0.583333   2.291667   3.625000       NaN  2.708333
1001502      1.875000   5.875000   9.375000   9.000000  4.333333  6.583333
1002400           NaN        NaN        NaN   1.166667  1.166667  0.500000
1004400           NaN   0.541667   1.166667   5.125000  0.666667       NaN
...               ...        ...        ...        ...       ...       ...
3058901     21.791667  18.458333  31.583333  13.166667  4.750000  2.166667
3058902      2.375000        NaN   3.291667        NaN       NaN       NaN
3059100      0.625000   0.416667   0.625000        NaN       NaN  0.166667
3059300      2.375000        NaN   3.291667        NaN       NaN       NaN
3123700      3.250000   1.791667   1.666667   1.791667       NaN  0.583333


month              7          8          9          10         11         12
BoroCT2020
1000900      5.500000   3.041667   1.708333   2.166667   0.666667   0.583333
1001501      1.916667        NaN   1.125000   5.666667   1.208333   3.333333
1001502      1.750000        NaN   3.416667   4.166667   1.875000   3.000000
1002400           NaN        NaN        NaN        NaN        NaN        NaN
1004400           NaN   0.583333   0.625000   1.250000        NaN   1.250000
...               ...        ...        ...        ...        ...        ...
3058901     12.666667  26.291667  26.500000  33.375000  28.541667  25.791667
3058902      6.958333   6.000000   5.250000   9.833333   3.916667   6.916667
3059100      6.958333   6.000000   2.416667   5.333333   0.625000   0.625000
3059300           NaN   2.458333   5.250000  12.125000   4.541667   7.666667
3123700      0.625000   1.208333        NaN        NaN   2.458333        NaN

[89 rows x 12 columns]

## 2020 Time

In [35]:
data_2020 = data_fil[(data_fil['StartDateTime']>='2020-1-1') & (data_fil['StartDateTime']<'2021-1-1')]

In [36]:
data_2020_buffer=data_2020
data_2020_buffer['geometry']= data_2020_buffer.buffer(3,cap_style=2)
ct_data_2020 = ct_sel.sjoin(data_2020_buffer, how="left")
ct_data_2020=ct_data_2020.dropna().reset_index()

In [37]:
month1 = ct_data_2020.apply(lambda x: pd.Series(x['month']),axis=1).stack().reset_index(level=1, drop=True)
month1.name = 'month'
ct_data_2020 = ct_data_2020.drop('month', axis=1).join(month1)
ct_data_2020['month'] = ct_data_2020['month'].astype(str)
ct2020_cd33 = gpd.overlay(ct_data_2020, cd33, how='intersection')
ct2020_cd33

,level_0,BoroCT2020,NTAName,GEOID,index_right,index,EventID,EventType,StartDateT,EndDateTim,...,hours,date,hour_sum,day_sum,StartDateTime,month,CounDist,Shape_Leng,Shape_Area,geometry
0,7,1000900,Financial District-Battery Park City,36061000900,9632.0,11946.0,528357.0,Shooting Permit,01/18/2020 7:00:00 AM,01/18/2020 10:00:00 PM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",[2020-01-18],15.0,0.625000,2020-01-18 07:00:00,1.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
1,7,1000900,Financial District-Battery Park City,36061000900,3424.0,4037.0,550923.0,Shooting Permit,11/13/2020 11:00:00 AM,11/14/2020 1:00:00 AM,...,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...","[2020-11-13, 2020-11-14]",14.0,0.583333,2020-11-13 11:00:00,11.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
2,7,1000900,Financial District-Battery Park City,36061000900,1685.0,1925.0,554389.0,Shooting Permit,12/10/2020 6:00:00 AM,12/10/2020 10:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2020-12-10],16.0,0.666667,2020-12-10 06:00:00,12.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
3,7,1000900,Financial District-Battery Park City,36061000900,1803.0,2061.0,554374.0,Shooting Permit,12/09/2020 6:00:00 AM,12/09/2020 9:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2020-12-09],15.0,0.625000,2020-12-09 06:00:00,12.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
4,7,1000900,Financial District-Battery Park City,36061000900,6555.0,7971.0,535069.0,Shooting Permit,03/02/2020 9:00:00 AM,03/03/2020 12:00:00 AM,...,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...",[2020-03-02],15.0,0.625000,2020-03-02 09:00:00,3.0,33,132482.563104,1.242545e+08,"POLYGON ((984014.323 192193.577, 984032.883 19..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,1472,3123700,Bedford-Stuyvesant (West),36047123700,7075.0,8610.0,533759.0,Shooting Permit,02/25/2020 6:00:00 AM,02/25/2020 11:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2020-02-25],17.0,0.708333,2020-02-25 06:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
3489,1472,3123700,Bedford-Stuyvesant (West),36047123700,6962.0,8483.0,534373.0,Shooting Permit,02/26/2020 7:00:00 AM,02/27/2020 1:00:00 AM,...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...","[2020-02-26, 2020-02-27]",18.0,0.750000,2020-02-26 07:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
3490,1472,3123700,Bedford-Stuyvesant (West),36047123700,5893.0,7105.0,536658.0,Shooting Permit,03/10/2020 6:00:00 AM,03/10/2020 11:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2020-03-10],17.0,0.708333,2020-03-10 06:00:00,3.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
3491,1472,3123700,Bedford-Stuyvesant (West),36047123700,7609.0,9332.0,532319.0,Shooting Permit,02/18/2020 6:00:00 AM,02/18/2020 10:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2020-02-18],16.0,0.666667,2020-02-18 06:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."
3492,1472,3123700,Bedford-Stuyvesant (West),36047123700,7076.0,8611.0,533759.0,Shooting Permit,02/25/2020 6:00:00 AM,02/25/2020 11:00:00 PM,...,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[2020-02-25],17.0,0.708333,2020-02-25 06:00:00,2.0,33,132482.563104,1.242545e+08,"POLYGON ((997168.399 192448.192, 996920.811 19..."

In [62]:
ct2020_cd33 = ct2020_cd33.drop(ct2020_cd33[ct2020_cd33['month']=='nan'].index)

In [63]:
ct2020_cd33['month'].unique()

array(['1.0', '11.0', '12.0', '3.0', '10.0', '9.0', '2.0', '8.0'],
      dtype=object)

In [64]:
ct_2020_forsum=ct2020_cd33[['BoroCT2020','EventID','hour_sum','day_sum','month']]
ct_2020_forsum=ct_2020_forsum.drop_duplicates()
ct_2020_forsum
ct_2020_forsum['month']= ct_2020_forsum['month'].astype(float).astype(int)
ct_2020_forsum

     BoroCT2020   EventID  hour_sum   day_sum  month
0       1000900  528357.0      15.0  0.625000      1
1       1000900  550923.0      14.0  0.583333     11
2       1000900  554389.0      16.0  0.666667     12
3       1000900  554374.0      15.0  0.625000     12
4       1000900  535069.0      15.0  0.625000      3
...         ...       ...       ...       ...    ...
3451    3123700  535080.0      17.0  0.708333      3
3452    3123700  532319.0      16.0  0.666667      2
3453    3123700  533759.0      17.0  0.708333      2
3457    3123700  525786.0      16.0  0.666667      1
3458    3123700  525793.0      16.0  0.666667      1

[1352 rows x 5 columns]

In [65]:
ct_2020_sum = ct_2020_forsum[['BoroCT2020','hour_sum','day_sum','month']].groupby(by=['BoroCT2020','month']).sum()
ct_2020_sum = ct_2020_sum.reset_index()
ct_2020_sum.sort_values('day_sum')

    BoroCT2020  month  hour_sum    day_sum
140    3019300      2       4.0   0.166667
138    3019100      2       4.0   0.166667
141    3019300      9       7.0   0.291667
40     3000502     12       9.0   0.375000
61     3001300     12       9.0   0.375000
..         ...    ...       ...        ...
280    3058901      2     626.0  26.083333
277    3057902     11     659.0  27.458333
276    3057902     10     698.0  29.083333
271    3057902      1     805.0  33.541667
272    3057902      2     812.0  33.833333

[306 rows x 4 columns]

In [67]:
pivot_time_2020 = ct_2020_sum.pivot_table(index =['BoroCT2020'], values =['day_sum'],columns='month')
pivot_time_2020.to_csv('../output/Pivot_permits_cd33_2020_time.csv')
pivot_time_2020

              day_sum                                                          \
month              1          2          3    8         9       10         11
BoroCT2020
1000900      1.041667        NaN   1.166667  NaN  0.541667   0.375   0.583333
1001501      0.875000   1.083333   1.208333  NaN       NaN     NaN   1.125000
1001502      3.291667   3.458333   1.208333  NaN       NaN     NaN   1.125000
1002400           NaN        NaN        NaN  NaN       NaN     NaN   0.541667
1004400      0.666667   1.166667   0.583333  NaN       NaN     NaN        NaN
...               ...        ...        ...  ...       ...     ...        ...
3058901     22.333333  26.083333  16.625000  0.5  3.083333  20.625  22.125000
3058902      1.791667   1.875000   1.208333  NaN  0.583333     NaN   1.291667
3059100      0.625000   1.875000   0.666667  NaN  0.583333     NaN   0.666667
3059300      1.791667   2.500000   1.208333  NaN  0.583333     NaN   1.291667
3123700      2.000000   2.125000   3.541667  NaN       NaN     NaN        NaN


month              12
BoroCT2020
1000900      1.916667
1001501      2.333333
1001502      3.583333
1002400      0.750000
1004400           NaN
...               ...
3058901     14.083333
3058902      0.541667
3059100           NaN
3059300           NaN
3123700           NaN

[78 rows x 8 columns]